html {
  background-color: var(--bg-color-main);
  color: var(--text-color);
  line-height: 1.5;
}

:root {
  --text-color: #fffc;
  --link-color-hover: #939393;
  --bg-color-main: #171717;
  --border-color-3: #282828;
}

main {
  transition:all .2s ease-in;
  margin:0;
  visibility:visible;
}

.main-header .wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0px 0px;
  height: 6%;
  width: auto;
  justify-content: center;
}

.main-header {
  border-bottom: 1px solid var(--border-color-3);
  height: 70px;
  position: relative;
}

.main-header a {
  display: block;
  width: 116px;
  height: fit-content;
  order: 0;
  position: relative;
  text-decoration: none;
  color: var(--text-color)
}

ul:hover li:hover .nav-link:hover {
  color: var(--link-color-hover)
}

.main-header .wrapper .nav-logo {
  display: block;
  width: auto;
  height: 60px;
  padding: 0px;
  padding-left: 0%;
  position: relative;  
}

.main-header .wrapper .nav-logo img {
  height:100%;
  width:auto;
  content:var(--logoimg);
}

.navigation-bar span {
  padding-left: 7%;
}

.main-header .wrapper .navigation-bar {
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: calc(100% - 70px);
  padding: 1.2rem 1.5rem;
  display: none;
  opacity: 0;
  overflow-y: auto;
  background-color: var(--bg-color-main);
  color: var(--text-color);
  transition: opacity .3s;
}

.wrapper .navigation-bar .navbar-menu .nav-item {
  display: flex;
  display: inline-block;
  padding: 0px;
  line-height: 1.3;
  width: 70px;
}

.main-header .wrapper .navigation-bar nav {
  margin-bottom:1rem;
}

.navbar-menu {
  padding: 0px;
}