.chapnav {
  text-align: center;
  justify-content: center;
}

div .chapnav {
  display: flex;
}

div a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  background-color: #6258cc;
  color: #fffc;
  border-radius: 5%;
  text-transform: uppercase;
}
